.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to left top, #0099ff, #ff1900);
  justify-content: center;
}

.arrayOfObj {
  display: flex;
  gap: 20px;
}

.card {
  width: 200px;
  background-color: rgb(6, 206, 196);
  box-shadow: 0 4px 8px rgba(3, 3, 3, 0.322);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  height: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }

  .name {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }

  .price {
    font-size: 20px;
    color: #000000;
    margin-bottom: 8px;
  }

  .address {
    font-size: 16px;
    color: #000000;
    margin-bottom: 16px;
  }
  .h1{
    justify-content: center;
    align-items: center;
  }

    .button {
      background-color: #3498db;
      color: rgb(0, 0, 0);
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #2980b9;
      }
    }
  }